/* styles.css */

body {
    font-family: 'Arial', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    background-color: #fff;
    padding-top: 15px;
    border-right: 1px solid gray; /* Añade un borde derecho */
}

.sidebar-logo img {
    width: 100%;
    max-width: 80px;
    margin-bottom: 10px;
}

.sidebar-nav .nav-link {
    color: #fff;
    padding: 10px 15px;
    text-align: center;
}

.sidebar-nav .nav-link i {
    font-size: 24px;
    margin-bottom: 5px;
}

.sidebar-nav .nav-link:hover {
    background-color: #2e59d9;
}

.content {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
    height: 350px; /* Ajusta este valor según sea necesario */
    overflow: hidden; /* Esto puede ayudar a recortar la imagen si es necesario */
}

.card img {
    width: 100%; /* La imagen ocupará el 100% del ancho de su contenedor */
    height: 200px; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
}
/* Ajustes para el chatbot en la ventana modal */
.chat-body {
    height: 300px;
    overflow-y: scroll;
}
/* Agrega estas reglas de estilo al final de tu archivo CSS o en el lugar adecuado */
.chat-container {
    display: flex;
    flex-direction: column; /* Coloca los mensajes en columna */
    align-items: flex-end; /* Alinea los mensajes del usuario a la derecha */
}

.chat-message {
    max-width: 70%; /* O ajusta según tus necesidades */
    margin: 8px;
    padding: 10px;
    border-radius: 8px;
}

.chat-message.user {
    background-color: #007bff; /* Estilo para mensajes del usuario */
    color: white;
    align-self: flex-end; /* Alinea el mensaje del usuario a la derecha */
}

.chat-message.bot {
    background-color: #e0e0e0; /* Estilo para mensajes del chatbot */
    color: black;
    align-self: flex-start; /* Alinea el mensaje del chatbot a la izquierda */
}

